# This is a basic workflow to help you get started with Actions

name: CICD Configure VM Azure Web page

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo "${{secrets.SSHKEY}}" > chave.pem
          sudo chmod 600 chave.pem
          ssh -o StrictHostKeyChecking=no -i chave.pem gestor@158.158.99.171 
          sudo apt update; sudo apt install apache2; sudo chmod -R 777 /var/www/html
          #sudo mkdir -p /var/www/html/EduardoG/
          #sudo chmod -R 777 /var/www/html/EduardoG
          scp -o StrictHostKeyChecking=no -i chave.pem ./index.html gestor@158.158.99.171:/var/www/html/EduardoG/index.html
